In [10]:
# Dependencies
import pandas as pd
import espnfantasyfootball as espn
import requests
import espnsecrets

In [11]:
league = espn.FantasyLeague(league_id=730129, year=2020,
                          swid=espnsecrets.swid, espn_s2=espnsecrets.espn_s2)

In [12]:
data = league.get_league_data()

In [13]:
data

,Week,PlayerName,PlayerScoreActual,PlayerScoreProjected,PlayerFantasyTeam,PlayerRosterSlot,TeamName,FullName
0,1,Derrick Henry,16.1,17.382072,1,RB,Pfizer Save us,Toker Blaze
1,1,Aaron Jones,17.6,15.289672,1,RB,Pfizer Save us,Toker Blaze
2,1,George Kittle,9.3,15.967135,1,TE,Pfizer Save us,Toker Blaze
3,1,Robert Woods,17.9,14.470935,1,WR,Pfizer Save us,Toker Blaze
4,1,JuJu Smith-Schuster,24.9,14.596111,1,WR,Pfizer Save us,Toker Blaze
...,...,...,...,...,...,...,...,...
157,17,Preston Williams,0.0,0.000000,14,Bench,Edinburgh Chubby chasers,John Meier
158,17,Zane Gonzalez,0.0,0.000000,14,K,Edinburgh Chubby chasers,John Meier
159,17,Cowboys D/ST,12.1,12.143736,14,Bench,Edinburgh Chubby chasers,John Meier
160,17,Myles Gaskin,17.7,16.453915,14,Bench,Edinburgh Chubby chasers,John Meier
161,17,J.D. McKissic,8.0,13.152776,14,RB,Edinburgh Chubby chasers,John Meier

In [14]:
matchups = league.get_matchup_data()

In [15]:
matchups

,Week,Name1,Score1,Name2,Score2,Type
0,1,Edinburgh Chubby chasers,93.49,The Masked Singers,135.95,Regular
1,1,Happy Hanukkah,146.31,The Cumbacks,130.68,Regular
2,1,Titsburgh Feelers,145.97,Hooked on a Thielen,181.15,Regular
3,1,Gonq Unicorns,153.85,3rd Place Pays Out,89.58,Regular
4,1,Tame Klonger,111.03,Pfizer Save us,149.84,Regular
...,...,...,...,...,...,...
1287,15,Gonq Unicorns,128.72,The Masked Singers,119.15,Playoff
1288,15,Hooked on a Thielen,114.22,Pfizer Save us,168.56,Playoff
1289,15,Titsburgh Feelers,160.07,Tame Klonger,143.83,Playoff
1290,15,3rd Place Pays Out,70.81,Edinburgh Chubby chasers,123.26,Playoff
1291,15,The Cumbacks,84.00,Happy Hanukkah,155.73,Playoff